In [223]:
import pandas as pd
import os

In [224]:
# 시간 뒷 부분 짜르기 -> date

## 0. 경로설정

In [303]:
path = "./data"
file_list = list(os.listdir(path))

print ("file_list: {}".format(file_list))

file_list: ['.ipynb_checkpoints', 'comment_list.csv', 'dc_IE_final.csv', 'final_kin_content.csv', 'orbi_IE_final.csv', 'post_list.csv', 'youtube_pd_title_1.csv', 'youtube_pd_title_2.csv', 'youtube_pd_title_3.csv', 'youtube_pd_title_4.csv', 'youtube_pd_title_5.csv', 'youtube_pd_title_6.csv', 'youtube_pd_title_7.csv', 'youtube_pd_title_8.csv', 'youtube_pd_title_9.csv']

## 1. Naver_Blog

In [260]:
# A _ blog_contents
blog_contents = pd.read_csv(path+'/'+file_list[5], encoding='utf-8')
# blog_contents.iloc[:1]

# 두개의 열 추출 
A_a = blog_contents[['posting_date','title']]
A_b = blog_contents[['posting_date','contents']]

# 컬럼명 변경 -> 컬럼명을 바꿔서, CONCAT하기 위해
A_a.rename(columns = {'title' : 'content'}, inplace = True)
A_b.rename(columns = {'contents' : 'content'}, inplace = True)

# 한 줄로 CONCAT
A = pd.concat([A_a,A_b],axis=0).reset_index(drop = True)
A.rename(columns = {'posting_date' : 'date'}, inplace = True)
A.head()

C:\Users\wlsdl\anaconda3\envs\project\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

                  date                                            content
0  2021-03-09 11:31:00                              산업공학과 선택과목 고르는게 어렵다면?
1  2021-12-02 00:00:00                            잘나가는 CEO, 다 산업공학과 출신이네!
2  2021-11-15 15:28:00                    학점은행제 산업공학과,중퇴자도 빠르게 학사학위 취득가능!
3  2022-01-04 11:52:00           신은 마음을, 사람은 겉모습을 본다지만 / 박희준 연세대 산업공학과 교수
4  2021-09-10 16:21:00  취업률 80% 이상 달성, 지역 산업 맞춤형 전문 인력을 양성하는 산업공학과를 소개...

In [ ]:
# A.info()

In [261]:
# B_ blog_review

blog_comments = pd.read_csv(path+'/'+file_list[1], encoding='utf-8')
# blog_comments.iloc[:1]
B = blog_comments[['comment_date','comment']]

# 컬럼명 변경 -> 컬럼명을 바꿔서, CONCAT하기 위해
B.rename(columns = {'comment' : 'content'}, inplace = True)
B.rename(columns = {'comment_date' : 'date'}, inplace = True)

B.head()

C:\Users\wlsdl\anaconda3\envs\project\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

                  date                                            content
0  2021-03-09 19:18:00                        포스팅 잘 보고 갑니다.  좋은 글 감사해요~\n
1  2021-03-10 10:00:00                                글보고 공감 누르고 갑니다 : )
2  2021-03-11 12:26:00  쉬는 날은 빨리도 가요. 시간이 아깝네요. 잇님..^^ 우리집 아이들은 나가자고 아...
3  2021-03-11 12:41:00  수고한 당신 떠나라고 했나요. 저는 지난 주말에 남편이 특별 이벤트를 준비해 줬어요...
4  2021-03-13 12:13:00  이웃님. 휴일 잘 지내셨나요? 또 새로운 한주가 시작했네요. 미세먼지가 많아서 아쉽...

In [306]:
# naver_blog 내용, 댓글 합치기 
Naver_Blog = pd.concat([A,B],axis = 0).reset_index(drop = True)

# 플랫폼 넘버 삽입
Naver_Blog.insert(0,'platform_num',1)

# date 부분 년-월-일로 정렬 
date = []
for i in Naver_Blog['date']:
    j = str(i).split()[0]
    date.append(j)
    
Naver_Blog['date'] = date
Naver_Blog

,platform_num,date,content
0,1,2021-03-09,산업공학과 선택과목 고르는게 어렵다면?
1,1,2021-12-02,"잘나가는 CEO, 다 산업공학과 출신이네!"
2,1,2021-11-15,"학점은행제 산업공학과,중퇴자도 빠르게 학사학위 취득가능!"
3,1,2022-01-04,"신은 마음을, 사람은 겉모습을 본다지만 / 박희준 연세대 산업공학과 교수"
4,1,2021-09-10,"취업률 80% 이상 달성, 지역 산업 맞춤형 전문 인력을 양성하는 산업공학과를 소개..."
...,...,...,...
1946,1,2021-09-13,블로그 글 잘 봤습니다답방 부탁 드립니다월요일 오늘도 힘내세요!
1947,1,2019-05-31,요즘 과가 넘 많아서 뭐가뭔지 모르겠음 신청해서 자세히 알아보면 좋겠네
1948,1,2021-11-02,잘 보고 갑니다ㅎㅎㅎ
1949,1,2021-09-11,아들 서울대 보내려고 스마트폰 시간제한 앱을 직접 만든 개발자 아빠입니다강남 엄마들...
1950,1,2021-10-12,안녕하세요~잘보고갑니다! 너무예뻐요♥♥자주 소통하고싶어서 서로이웃신청했어요ㅎㅎ혹시 ...

In [ ]:
# 파일 저장
# path_2 = "./pre_finished_data"
# Naver_Blog.to_csv(path_2+ '/' +'Naver_Blog.csv', encoding='utf-8')

## 2. Naver_Kin

In [305]:
# C_kin_content

kin_contents = pd.read_csv(path+'/'+file_list[3], encoding='utf-8')
# kin_contents.iloc[:3]

# 두개의 열 추출 
C_a = kin_contents[['date','content']]
C_b = kin_contents[['date','question']]

# 컬럼명 변경 -> 컬럼명을 바꿔서, CONCAT하기 위해
C_b.rename(columns = {'question' : 'content'}, inplace = True)

# 한 줄로 CONCAT
C = pd.concat([C_a,C_b],axis=0).reset_index(drop = True)
C.head()

# 지식인으로 이름 변경
Naver_Kin = C.copy()

# 플랫폼 넘버 삽입
Naver_Kin.insert(0,'platform_num',2)

# date 부분 년-월-일로 정렬 
date = []
for i in Naver_Kin['date']:
    j = str(i).replace('.','-')
    j = j[:-1]
    date.append(j)
Naver_Kin['date'] = date

Naver_Kin

,platform_num,date,content
0,2,2021-11-19,산업공학과 졸업생이이에요\n멈춰!\n당장 멈춰!\n정말 쓸데없는 공부에요 미적분은\...
1,2,2021-12-11,찾아보니 수학 경영 통계쪽을 배우는 것으로 보아 파이썬과 R프로그래밍을 배워서 빅 ...
2,2,2021-11-13,안녕하세요 동국대 산업공학과 답변드립니다.\n보통 2점 후반에서 3점 후반까지라고 ...
3,2,2021-07-31,안녕하세요 대진대학교 서포터즈입니다!\n산업공학과는 한 학문에 한정되어있지 않고 진...
4,2,2021-05-11,산업공학과가 이과계열에 속해 있어\n확통과 미적분이 제일 좋을 거 같습니다.\n수능...
...,...,...,...
241,2,2020-04-24,"산업공학과를 지망하는 고2학생입니다. 제가 진로선택과목으로 공학일반,정보,기계일반을..."
242,2,2020-05-23,제가 문과인데 수시에서 산업공학과 지원할수있나요?
243,2,2019-02-01,
244,2,2020-05-04,시스템경영공학과 이건 다른거아니에요??
245,2,2020-04-24,"산업공학과 지망하는 고2학생입니다. 공학일반,정보 과목선택했고 나머지 한과목을 프로..."

In [ ]:
# 파일 저장
# path_2 = "./pre_finished_data"
# Naver_Kin.to_csv(path_2+ '/' +'Naver_Kin.csv', encoding='utf-8')

## 3. Youtube

In [265]:
# youtube 10개 데이터셋 로딩 


df_list = []

dt = ['2019-09-11', '2020-07-05','2019-02-27','2020-12-12','2020-04-20','2020-09-28','2020-11-11','2020-09-02','2020-09-06']

for i in range(1,10):
    
    globals()['data'+str(i)] = pd.read_csv(path+'/'+file_list[i+5], encoding='utf-8')
    
    # 열 추출
    globals()['data'+str(i)] = globals()['data'+str(i)][['댓글 내용']]
    
    # 컬럼명 변경 -> 컬럼명을 바꿔서, concat하기 위함
    globals()['data'+str(i)].rename(columns = {'댓글 내용' : 'content'}, inplace = True)

    # 열 추가
    globals()['data'+str(i)].insert(0,'date',dt[i-1])
    
    # 리스트에 추가 
    df_list.append(globals()['data'+str(i)])
    
# # concat 하기 
Youtube = pd.concat(df_list, ignore_index = True)
Youtube.insert(0,'platform_num',3)
Youtube

,platform_num,date,content
0,3,2019-09-11,산공과에 재학중인 4학년입니다. \r 1. 프로그래밍 \r산공과에서 사용하는 프로그...
1,3,2019-09-11,여러분 이 분이 한양대 산업공학과 인터뷰해주신 수재분이십니다ㅎㅎ 댓글은 며칠 후에 ...
2,3,2019-09-11,@공대선배 스트롱 저도 학부생이고 회사를 다녀본 입장이 아니어서 잘못된 정보가 ...
3,3,2019-09-11,현우~~ 멋져
4,3,2019-09-11,전 미국 주립대에서 Industrial Engineering 전공 했고 지금은 물류...
...,...,...,...
1021,3,2020-09-06,서류통과 축하드립니다!생산관리직무에 중국어능통자우대였나요?(부럽) 아마 지원하신 회...
1022,3,2020-09-06,"@김직장인,프로직장인 되기 김직장인님 친절한 설명과 응원 너무 감사드립니다!이틀..."
1023,3,2020-09-06,아 추가적으로 질문이 있습니다!생산관리 관련 경험이라곤 대학교수업(기업경영전략)때 ...
1024,3,2020-09-06,JIT 는 just in time 말씀 하시는거죠? 면접에서는 특정 지식을 어필하는...
1025,3,2020-09-06,"@김직장인,프로직장인 되기 답변 감사합니다!참고해서 잘 준비해보겠습니다.친절한 ..."

In [307]:
# 파일 저장
# path_2 = "./pre_finished_data"
# Youtube.to_csv(path_2+ '/' +'Youtube.csv', encoding='utf-8')

In [ ]:
# 데이터 프레임으로 만드는 방법 찾기 

# # youtube 10개 데이터셋 로딩 

# # 빈 데이터 프레임 생성 
# df = pd.DataFrame(columns=['date', 'contents']) 

# date_list = ['2019-09-11', '2020-07-05','2019-02-27','2020-12-12','2020-04-20','2020-09-28','2020-11-11','2020-09-02','2020-09-06']

# for i in range(1,10):
    
#     # 파일 로딩
#     data = pd.read_csv(path+'/'+file_list[i+3], encoding='utf-8')
    
#     # date, contents 채우기
#     data_to_insert = {'contents' : data[['댓글 내용']] ,'date' = date_list[i-1]}
#     df_to_insert = pd.DataFrame(data = data_to_insert)
#     # print(date)
#     # print(contents)
    
#     df = df.append(data_to_insert, ignore_index = True)
    
# df

## 4. Dcinside

In [287]:
# 파일 불러오기
Dcinside = pd.read_csv(path+'/'+file_list[2], encoding='utf-8',index_col = 0)

# 컬럼 순서 바꾸기
Dcinside = Dcinside[['date','content']]

# 플랫폼 넘버 삽입
Dcinside.insert(0,'platform_num',4)

# date 부분 년-월-일로 정렬 
date = []
for i in Dcinside['date']:
    j = str(i).split()[0]
    j = str(j).replace('.','-')
    date.append(j)
Dcinside['date'] = date

Dcinside

,platform_num,date,content
0,4,2022-01-02,산업공학과 질문 받음.
1,4,2019-09-15,산업공학과 vs 안전공학과
2,4,2021-10-08,산업공학과 학벌 많이 따지나요?
3,4,2019-12-26,형들 기계공학과 vs 산업공학과 어떤 게 좋을까..?
4,4,2020-09-16,지거국 과기대 산업공학과 취업처인데 나름 괜찮은편 아니냐
...,...,...,...
970,4,2019-02-14,\n더 빠지실분 있나요...ㅠㅠㅠ\n
971,4,2019-12-04,\n수학 잘해야함? 문돌이인데 신소재나 산업공학과로 편입할건데 - dc offic...
972,4,2022-01-01,\n시스템반도체공학과\n4.88\n \n철학과\n2.5\n간호학과(인문)\n2.4\...
973,4,2021-07-04,"\n산업대학원, 미래자동차공학과 신설2021.04.29건국대학교 산업대학원은 미래 ..."
974,4,2021-09-06,\n - dc official App\n

In [308]:
# 파일 저장
# path_2 = "./pre_finished_data"
# Dcinside.to_csv(path_2+ '/' +'Dcinside.csv', encoding='utf-8')

## 5. Orbi

In [297]:
# 파일 불러오기
Orbi = pd.read_csv(path+'/'+file_list[4], encoding='utf-8',index_col = 0)

# 컬럼 순서 바꾸기
Orbi = Orbi[['date','content']]

# 플랫폼 넘버 삽입
Orbi.insert(0,'platform_num',5)

# date 부분 년-월-일로 정렬 -> 이거 전처리를 어떻게 해야 할까????????????????
date = []
for i in Orbi['date']:
    j = str(i).split()[0]
    
    # j = str(j).replace('/','-')
    date.append(j)
Orbi['date'] = date

Orbi

    platform_num      date                                            content
0              5     01/23  \n아주대 전화기 중 하나 재학했던 학생인데 아주대 관심 있는 학생들한테 혹시 도움...
0              5     01/23  \n네임밸류 포기하고 낮은 대학 산공 쓰면..산공의 뜬다 그래도 대우 받는 학벌은설...
0              5     01/19             \n컴공을 못간다면 산공 복수전공후에 it계열을 준비해보고 싶은데\n
0              5     01/17                                       \n23학번 보내줘\n
0              5     01/17  \n제대로 대학 교육을 받지 않은 분들이 항상 하는 말이 있다."대학이라는게 별거 ...
..           ...       ...                                                ...
2              5  19/01/24                             \n관리자에 의해 삭제된 댓글입니다.\n
3              5  19/01/24                                       \n의견 감사합니다\n
0              5  19/01/24                                     \n수시의 문제점...\n
0              5  19/01/22  \n빅데이터나 인공지능. 머신러닝. 딥러닝 대부부은 학사는 잘 취급안해줘요 ㅠㅠㅠ ...
1              5  19/01/22                                        \nstay...\n

[2149 rows x 3 columns]

In [298]:
Orbi['date'].unique()

array(['01/23', '01/19', '01/17', '01/16', '01/14', '01/13', '01/10',
       '01/04', '01/01', '21/12/31', '21/12/30', '21/12/29', '21/12/28',
       '21/12/27', '21/12/26', '21/12/25', '21/12/23', '21/12/22',
       '21/12/20', '21/12/19', '21/12/17', '21/12/16', '21/12/15',
       '21/12/13', '21/12/12', '21/12/11', '21/11/27', '21/11/13',
       '21/10/07', '21/10/02', '21/09/28', '21/08/23', '21/08/16',
       '21/07/20', '21/06/14', '21/06/11', '21/05/31', '21/05/07',
       '21/05/03', '21/05/01', '21/03/26', '21/02/27', '21/02/26',
       '21/02/16', '21/02/11', '21/02/09', '21/02/08', '21/02/06',
       '21/02/05', '21/02/03', '21/02/01', '21/01/29', '21/01/27',
       '21/01/25', '21/01/23', '21/01/13', '21/01/11', '21/01/10',
       '21/01/06', '21/01/05', '20/12/31', '20/12/27', '20/12/26',
       '20/12/24', '20/12/22', '20/12/21', '20/12/14', '20/12/11',
       '20/11/30', '20/11/06', '20/09/23', '20/09/22', '20/09/18',
       '20/08/25', '20/08/22', '20/08/21', '20/08/20', '20/08/19',
       '20/08/18', '20/07/25', '20/07/19', '20/07/04', '20/06/30',
       '20/06/29', '20/06/20', '20/06/11', '20/05/03', '20/04/10',
       '20/02/27', '20/02/25', '20/02/15', '20/02/14', '20/02/11',
       '20/02/08', '20/02/04', '20/02/03', '20/01/23', '20/01/20',
       '20/01/10', '20/01/09', '20/01/07', '19/12/31', '19/12/28',
       '19/12/22', '19/12/19', '19/12/18', '19/12/15', '19/12/14',
       '19/12/12', '19/12/11', '19/12/10', '19/12/09', '19/12/06',
       '19/12/02', '19/11/28', '19/11/22', '19/11/21', '19/11/20',
       '19/11/19', '19/11/14', '19/10/27', '19/10/20', '19/10/11',
       '19/10/07', '19/09/28', '19/09/27', '19/09/09', '19/08/27',
       '19/08/12', '19/08/09', '19/08/07', '19/07/31', '19/07/24',
       '19/07/23', '19/07/19', '19/07/16', '19/07/11', '19/07/08',
       '19/07/05', '19/06/05', '19/05/27', '19/05/13', '19/05/09',
       '19/04/13', '19/03/08', '19/03/06', '19/03/05', '19/02/16',
       '19/02/03', '19/01/24', '19/01/22', '19/01/16'], dtype=object)

## 6. Job_Korea

## 7. Naver_Cafe [독취사, 스펙업]

# TOTAL

In [311]:
# 데이터 프레임 리스트 -> 잡코리아, 네이버 카페 추가 하기 
CR_LIST = [Naver_Blog, Naver_Kin, Youtube, Dcinside, Orbi] 

# 
TOTAL = pd.concat(CR_LIST,axis=0).reset_index(drop = True)
# TOTAL.rename(columns = {'posting_date' : 'date'}, inplace = True)
TOTAL

,platform_num,date,content
0,1,2021-03-09,산업공학과 선택과목 고르는게 어렵다면?
1,1,2021-12-02,"잘나가는 CEO, 다 산업공학과 출신이네!"
2,1,2021-11-15,"학점은행제 산업공학과,중퇴자도 빠르게 학사학위 취득가능!"
3,1,2022-01-04,"신은 마음을, 사람은 겉모습을 본다지만 / 박희준 연세대 산업공학과 교수"
4,1,2021-09-10,"취업률 80% 이상 달성, 지역 산업 맞춤형 전문 인력을 양성하는 산업공학과를 소개..."
...,...,...,...
7317,5,19/01/24,\n관리자에 의해 삭제된 댓글입니다.\n
7318,5,19/01/24,\n의견 감사합니다\n
7319,5,19/01/24,\n수시의 문제점...\n
7320,5,19/01/22,\n빅데이터나 인공지능. 머신러닝. 딥러닝 대부부은 학사는 잘 취급안해줘요 ㅠㅠㅠ ...
7321,5,19/01/22,\nstay...\n